.table-detail-card {
  border-radius: 15px;
  padding: 30px;
  width: 250px;
}
.table-detail-card p:last-child {
  border: none;
}
.table-detail-card button {
  width: 250px;
  margin: 5px;
  margin-top: 10px;
}
.Table-Detail p {
  color: gray;
  padding: 20px 10px;
  border-bottom: 1px dotted rgba(211, 211, 211, 0.726);
}
